<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".config.MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigiCopy"
        tools:targetApi="31">
        <activity
            android:name=".ui.gramsevak.documents.DocumentListNotApprovedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.documents.DocumentListApprovedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.documents.DocumentListSentForApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.officer.activities.OfficerDocsEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.officer.activities.OfficerDocsNotApprovedListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.officer.activities.OfficerDocsApprovedListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.officer.activities.OfficerDocsReceivedForApprovalListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.registration.LabourUpdateOnline2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.registration.LabourUpdateOnline1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.officer.activities.OfficerLaboursRejectedListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.officer.activities.OfficerViewNotApprovedLabourDetails"
            android:exported="false" />
        <activity
            android:name=".ui.officer.activities.OfficerViewEditReceivedLabourDetails"
            android:exported="false" />
        <activity
            android:name=".ui.officer.activities.OfficersLaboursApprovedListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.officer.activities.OfficerLabourNotApprovedListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.officer.activities.OfficerLaboursReceivedForApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.ViewNotApprovedLabourDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.officer.OfficerMainActivity"
            android:exported="false"
            android:label="@string/title_activity_officer_main" />
        <activity
            android:name=".ui.gramsevak.LaboursListApproved"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.LaboursListNotApproved"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.ViewLaboursListSentForApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.ViewUploadedDocumentsActivity"
            android:exported="false"
            android:parentActivityName=".ui.gramsevak.ScanDocumentsActivity" />
        <activity
            android:name=".ui.gramsevak.ViewAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.ViewLabourFromMarkerClick"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.LabourListByProjectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.ViewLabourDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.start.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.registration.LabourRegistrationEdit1"
            android:exported="false" />
        <activity
            android:name=".ui.registration.LabourRegistrationEdit2"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.ImageCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.ScannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.ScanDocumentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.ScanBarcodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gramsevak.ReportsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.gramsevak.SyncLabourDataActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.gramsevak.SyncLandDocumentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.registration.LabourRegistration2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.start.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".ui.gramsevak.AllocateWorkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.registration.LabourRegistration1Activity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBcLn2oqJ3SC558m2ZZVGBGpD7NxjbPz80" />

        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sumagoinfotech.digicopy.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>